#hi-im-ellen
  background #DEDEDE
  position relative
  padding-top 0px
  padding-bottom 60px

#hi-im-ellen .featured-image img
  width 50%
  display none

.hero
  width 100%
  margin auto
  padding 10px
  +above('s')
    padding 60px
  position relative

.body, .why-both, .cool-thing, .latest
  width 100%
  margin auto
  padding 10px
  +above('s')
    padding 60px
  position relative

.text
  background white
  padding 20px
  +above('s')
    padding 40px
  +above('xl')
    right 60px

#hi-im-ellen .hero .text
  z-index 3
  position relative
  // top 50%
  // transform translateY(-50%)
  width 100%
  // padding-bottom 60px
  +above('xl')
    width 33%
    position absolute
    top 50%
    transform translateY(-50%)

.currently-nerding
  position absolute
  bottom -60px
  right 0px
  // background rgba(#000000, .05)
  // color white
  padding 15px
  padding-left 30px
  // padding-right 30px
  display flex
  flex-direction row
  justify-content flex-start
  align-items center
  margin-bottom 0px
  img
    width 30px
    margin-right 5px

#hi-im-ellen .personal-image
  max-width 100%
  +above('xl')
    max-width 70%
  img
    width 100%

#hi-im-ellen .why-both
  position relative
  display flex
  justify-content flex-start
  align-items flex-start
  flex-direction row
  flex-wrap wrap
  // +above('l')
  //   flex-direction row

#hi-im-ellen .why-both .text
  max-width 100%
  +above('l')
    max-width (5 / 12 * 100%)

#hi-im-ellen .why-both .stack
  max-width (6/12 * 100%)
  +above('l')
    max-width (2/12 * 100%)
  padding 40px
  text-align left
  width 100%
  margin-right 0px
  .stack-list
    width 100%
    list-style-type none
    padding-left 0px

#hi-im-ellen .why-both .stack:last-of-type
  +above('l')
    max-width (5/12 * 100%)

#hi-im-ellen .why-both .image
  background white
  width 100%
  +above('l')
    width 40%
  +above('xl')
    width auto
  img
    margin-bottom 10px
    width 100%
  p
    margin-left 20px


#hi-im-ellen .why-both .bg-image
  position absolute
  right 20px
  width 200px


#hi-im-ellen .cool-thing
  max-width 100%

#hi-im-ellen .cool-thing h5
  margin-bottom 40px
  text-align center

#hi-im-ellen .cool-thing.thing-atfvr
  display flex
  flex-direction column
  align-items flex-start
  justify-content center
  position relative
  img
    // max-height 90vh
    max-width 100%
    margin-bottom 60px
  .caption
    // position relative
    // background white
    // padding 20px


.image-with-caption
  .caption
    background white
    position relative
    top -40px
    left 40px
    max-width 700px
    padding 10px
  img
    max-width 100%

  p
    padding 10px 10px
    margin-bottom 0px
    max-width 700px


#hi-im-ellen .latest .wrapper
  display flex
  justify-content flex-start
  align-items flex-start
  width 100%
  margin auto
  padding 10px
  +above('s')
    padding 60px
    padding-top 30px
  position relative

#hi-im-ellen .latest .text
  max-width 100%
  width 100%
  margin-right 24px
  // +above('l')
  //   max-width calc((6/12 * 100%) - 24px)

#hi-im-ellen .latest .text:last-of-type
  margin-right 0px
