#hi-im-ellen
  background #DEDEDE
  position relative
  padding-top 0px

#hi-im-ellen .featured-image img
  width 50%
  display none

.body
  width 100%
  margin auto
  padding 10px
  +above('s')
    padding 60px
  position relative

#hi-im-ellen .text
  background white
  padding 20px
  +above('s')
    padding 40px
  +above('xl')
    right 60px
    z-index 4
    position absolute
    top 50%
    transform translateY(-50%)
    width 33%

#hi-im-ellen .personal-image
  max-width 100%
  +above('xl')
    max-width 70%
  img
    width 100%

.title
  font-size 36px
  font-weight 700
  margin-bottom 10px
  letter-spacing -1px
  position relative
  &:before
    content: ""
    width 4px
    height 100%
    position absolute
    left -20px
    +above('s')
      left -40px
    background black
