.sidebar
  display none
  +above('l')
    display block
  position fixed
  top 120px
  right 0px
  padding 20px
  // padding-left 30px
  padding-right 30px
  background white
  margin-right 40px
  max-width 330px
  h5
    text-transform uppercase
    color black
    font-weight bold
    letter-spacing 1px
    font-size 14px
    margin-bottom 20px
  ul.sidebar-item
    list-style-type none
    padding-left 0px
  a
    color rgba(black, .5)
    margin-bottom 5px
    line-height 1.4
    &:after
      height 100%
      width line-width
      left -20px
      bottom 0
      background white
  a:focus, a:hover, a:active
    color black
    &:after
      height 100%
      width line-width
      left -20px
      bottom 0
      background black
      transition all 0.25s ease
