.work-tile
  width 100%
  overflow hidden
  margin-bottom 20px
  .work-tile--image-link
    border-bottom none
    position relative
    height 370px
    +above(800px)
      height 700px
    display flex
    justify-content center
    align-items center
    margin-bottom 20px
    overflow hidden
    border-radius 4px
    img
      position absolute
      // height 100%
      // width 100%
      // object-fit cover
      top 0
      left 0
    h3
      opacity 0
      display block
      text-transform uppercase
      letter-spacing 2px
      font-weight 900
      font-size 1rem
      border-bottom 2px solid
      padding-bottom 5px
    &:hover
      img
        opacity .1
        transition opacity 0.4s ease
      h3
        opacity .9
        transition opacity 0.4s ease
      // position absolute
      // margin auto
      // top 0
      // bottom 0
      // left 0
      // right 0
  .work-tile--image
    width 100%
    border-radius 4px


.work-item
  width 100%
  +above('l')
    width 70%
  max-width 800px
  // margin auto
  img
    width 100%
    +above('s')
      width calc(100% + 80px)
      margin-left -40px
      margin-right -40px
      margin-top 30px
      margin-bottom 30px

#work
  display flex
  flex-direction row
  justify-content flex-start
  align-items flex-start
  background #DEDEDE


#work .work-item
  background white
  padding 20px
  +above('s')
    padding 40px
  margin-bottom 40px
  h1
    @extend .title
  ul:first-of-type
    list-style-type none
    padding-left 0px
    margin-bottom 20px
    margin-top 20px
    width 100%
    li
      display inline-block
      // background rgba(black, 0.3)
      border 2px solid rgba(black, 0.3)
      padding 5px 7px
      // color white
      font-size 10px
      margin-right 10px
      text-transform uppercase
      font-weight bold
      letter-spacing 1px
      margin-bottom 10px
  ul, ol
    width 90%
  h3
    font-size 20px
    font-weight bold
    margin-top 1.8rem
  iframe.framer
    border 2px solid rgba(black, .3)
    border-radius 4px
    width 100%
    height 700px
    box-shadow none

#work .sidebar
  display none
  +above('l')
    display block
  position fixed
  top 120px
  right 0px
  padding 20px
  // padding-left 30px
  padding-right 30px
  background white
  margin-right 40px
  max-width 330px
  h5
    text-transform uppercase
    color black
    font-weight bold
    letter-spacing 1px
    font-size 14px
    margin-bottom 20px
  a
    color rgba(black, .5)
    margin-bottom 15px
    line-height 1.4
    // margin-top 5px
  a:focus, a:hover, a:active
    color black
    &:after
      height 100%
      width 4px
      left -20px
      bottom 0


blockquote
  font-style italic
  position relative
  // margin-left 40px
  padding 30px
  // font-family 'Droid Serif'
  background #F0F0F0
  width 80%
  color black
  margin-left -40px
  margin-right -40px
  p:last-of-type
    margin-bottom 0px

.blog-date
  text-transform uppercase
  font-size 12px
  font-weight bold
  letter-spacing 1px
