<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>07-16-cms-less-and-it-feels-so-right.md</key>
			<dict>
				<key>lastModification</key>
				<real>522204444.14687699</real>
				<key>version</key>
				<dict>
					<key>da0707b88e2f2ba274b13331f9d0db887d8b860acb7b820ee70d487e82f94f0a</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>07-16-currently-reading-the-blank-slate.md</key>
			<dict>
				<key>lastModification</key>
				<real>522204444.146878</real>
				<key>version</key>
				<dict>
					<key>da0707b88e2f2ba274b13331f9d0db887d8b860acb7b820ee70d487e82f94f0a</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>07-16-should-designers-learn-to-code.md</key>
			<dict>
				<key>lastModification</key>
				<real>522204444.14687902</real>
				<key>version</key>
				<dict>
					<key>da0707b88e2f2ba274b13331f9d0db887d8b860acb7b820ee70d487e82f94f0a</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>07-17-track-video-views-in-airtable.md</key>
			<dict>
				<key>lastModification</key>
				<real>522204444.14687902</real>
				<key>version</key>
				<dict>
					<key>da0707b88e2f2ba274b13331f9d0db887d8b860acb7b820ee70d487e82f94f0a</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Untitled.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>522204469.90856099</real>
				<key>lastModification</key>
				<real>522204469.90856099</real>
				<key>version</key>
				<dict>
					<key>da0707b88e2f2ba274b13331f9d0db887d8b860acb7b820ee70d487e82f94f0a</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>07-16-cms-less-and-it-feels-so-right.md</string>
		</array>
		<array>
			<string>07-16-currently-reading-the-blank-slate.md</string>
		</array>
		<array>
			<string>07-16-should-designers-learn-to-code.md</string>
		</array>
		<array>
			<string>Untitled.md</string>
		</array>
		<array>
			<string>07-17-track-video-views-in-airtable.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>da0707b88e2f2ba274b13331f9d0db887d8b860acb7b820ee70d487e82f94f0a</key>
			<integer>3</integer>
		</dict>
	</dict>
</dict>
</plist>
